@font-face {
    font-family: "iconfont"; /* Project id 4804564 */
    src: url('iconfont.woff2?t=1749712936809') format('woff2'),
    url('iconfont.woff?t=1749712936809') format('woff'),
    url('iconfont.ttf?t=1749712936809') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tuxing:before {
    content: "\e658";
}

.icon-shibai:before {
    content: "\e60b";
    font-size: 14px;
    color: #fe5050;
}

.icon-kedabiao:before {
    content: "\e671";
    font-size: 14px;
    color: #FEC16E;
}

.icon-yk_yuanquan_fill:before {
    content: "\e602";
    color: #8A8A8A;
    font-size: 14px;
}

.icon-yidu:before {
    content: "\e63e";
    font-size: 14px;
    color: blue;
}

.icon-chenggong:before {
    content: "\e671";
    font-size: 14px;
    color: #23DA72;
}

.icon-unFinished:before {
    content: "\e671";
    font-size: 14px;
    color: #FEC16E;
}

.icon-weichenggong:before {
    content: "\e671";
    font-size: 14px;
}

.icon-youjiantou:before {
    content: "\e600";
    font-size: 10px;
}

.icon-zuojiantou:before {
    content: "\e601";
    font-size: 10px;
}

.icon-zuojiantou:hover, .icon-youjiantou:hover {
    color: darkgray;
    cursor: pointer;
}

.icon-warn:before {
    content: "\e6d0";
    color: #FEC16E;
    /*color: red;*/
    font-weight: normal;
    font-size: 15px;
}

.icon-tishi:before {
    content: "\e8ba";
    color: orange;
    font-weight: normal;
    font-size: 15px;
}

.icon-xinzeng:before {
    content: "\e673";
    color: #0CBB18;
    font-weight: normal;
    font-size: 8px;
}

.icon-new:before {
    content: "\e673";
    color: #0CBB18;
    font-weight: normal;
    font-size: 15px;
}

.icon-NEW-copy:before {
    content: "\e889";
    color: #0CBB18;
    /*color: #4fffa1;*/
    font-size: 25px;
    line-height: 18px;
}
