.client-button {
  line-height: 22px;
  align-items: center;
  border: 0;
  border-radius: 6px;
  background: #4B5A78;
  color: rgba(255, 255, 255, 0.85)
}

.client-button:hover {
  background: #6f7b93;
}

.client-button:active {
  background: #3c4860;
}

.client-icon {
  //font-size: 25px;
  height: 25px;
  width: 25px;
  //line-height: 25px;
  cursor: pointer;
  //color: #6f7b93;
  margin: 3px -5px;
}

.client-icon:hover {
  color: #ffffff;
}

// 按钮样式primary
.client-button-primary {
  line-height: 22px;
  align-items: center;
  border: 0;
  border-radius: 6px;
  background: #028CC1;
  color: #ffffff;
  padding: 4px 16px;
  transition: background 0.2s ease;

  &:hover {
    background: #0398d3;
  }

  &:active {
    background: #0277a5;
  }
}

// 左右箭头按钮样式
.content-button {
  background: #1D2B48;
  border: 1px solid #1D2B48;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 4px;
  border-radius: 6px;
  padding: 6px 12px;
  transition: all 0.2s;

  &:hover {
    background: #26355a;
    border-color: #26355a;
  }

  &:active {
    background: #16233e;
    border-color: #16233e;
  }
}
