html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: '微软雅黑', 'Microsoft YaHei', Arial, sans-serif;
    /*font-family: '微软雅黑', serif;*/
    width: 100%;
}

/* span{
    cursor: default;
} */

.ivu-table-overflowX {
    /*overflow-x: hidden !important;*/
    /*overflow-x: unset;*/
}

::-webkit-scrollbar {
    height: 9px;
    width: 8px;
    background-color: #d8d8d8;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(159, 158, 158, 0.8);
}

/* 滚动槽样式 */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #8f959b;
}

.demo-spin-icon-load {
    animation: ani-demo-spin 1s linear infinite;
}