.ivu-table-tip {
  font-size: 26px;
}

.page-bottom {
  float: right;
  margin-top: 10px;
}

.table-content {
  //border: 1px solid #e8eaec;
  .table-operate {
    font-size: 14px;
    color: rgb(2, 175, 241);
    margin-right: 6px;
    cursor: pointer;
  }

  .table-operate-disabled {
    font-size: 14px;
    color: #ccc;
    margin-right: 6px;
    pointer-events: none;
    cursor: not-allowed;
  }
}


.ivu-tooltip {
  .ivu-tooltip-ref {
    text-overflow: "ellipsis";
    overflow: hidden;
    width: 200px;
    color: red !important;
  }
}

.mr3 {
  margin-right: 3px;
}
