.ivu-table-tip {
  font-size: 26px;
}

.page-bottom {
  float: right;
  margin-top: 10px;
}

.table-content {
  //border: 1px solid #e8eaec;
  .table-operate {
    font-size: 14px;
    color: rgb(2, 175, 241);
    margin-right: 6px;
    cursor: pointer;
  }

  .table-operate-disabled {
    font-size: 14px;
    color: #ccc;
    margin-right: 6px;
    pointer-events: none;
    cursor: not-allowed;
  }
}


.ivu-tooltip {
  .ivu-tooltip-ref {
    text-overflow: "ellipsis";
    overflow: hidden;
    width: 200px;
    color: red !important;
  }
}

/* 使用::v-deep选择iview Input组件 */
::v-deep .ivu-input {
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--border);
}

::v-deep .ivu-input-disabled {
  background: #f3f3f3 !important;
}
::v-deep .ivu-select-disabled .ivu-select-selection{
  background: #f3f3f3 !important;
}

::v-deep .ivu-checkbox-checked .ivu-checkbox-inner {
  background-color: var(--checked-color);
}

::v-deep .ivu-picker-panel-body,
::v-deep .ivu-page-total, ::v-deep .ivu-select-selection, ::v-deep .ivu-select-item,
::v-deep .ivu-input-suffix i, ::v-deep .ivu-date-picker-header, ::v-deep .ivu-date-picker-rel,
::v-deep .ivu-page-item a {
  color: var(--text-color);
}

::v-deep .ivu-select-item:hover {
  background-color: var(--select-hover-backcolor);
}

::v-deep .ivu-checkbox-inner, ::v-deep .ivu-page-next, .ivu-page-prev,
::v-deep .ivu-table, ::v-deep .ivu-page-item, ::v-deep .ivu-page-disabled,
::v-deep .ivu-select-dropdown, ::v-deep .ivu-select-selection, ::v-deep .ivu-page-prev,
::v-deep .ivu-select-item-focus {
  background-color: var(--background-color);
}

::v-deep .ivu-select-item-selected {
  color: #2db7f5;
}

::v-deep .ivu-checkbox-inner, ::v-deep .ivu-select-dropdown, ::v-deep .ivu-select-selection, ::v-deep .ivu-page-disabled,
::v-deep .ivu-page-prev {
  border: 1px solid var(--border);
}

::v-deep .ivu-date-picker-cells-cell {
  color: var(--text-color);
}

::v-deep .ivu-date-picker-cells-cell:hover em {
  background: var(--date-hover-color);
}

::v-deep .ivu-table td,
::v-deep .ivu-table th {
  background-color: var(--background-color);
  color: var(--text-color);
  padding-top: 5px !important; /* 调整上边距 */
  padding-bottom: 5px !important; /* 调整下边距 */
  line-height: normal; /* 确保文本的行高正常 */
  height: 12px !important;
}

::v-deep .ivu-table-row-highlight td {
  background: var(--table-highlight);
}

::v-deep .ivu-table-row-highlight:hover td {
  background: var(--table-highlight);

}

//::v-deep .ivu-table-row-hover td {
//  background-color: #32468E; /* 选中行的颜色 */
//}

::v-deep .ivu-table-cell-tree {
  background-color: var(--background-color);
}

::v-deep .ivu-table-cell-tree-empty {
  display: none;
}

::v-deep .ivu-table th {
  border-bottom: 1px solid var(--border);
  border-right: 1px solid var(--border);
  background: var(--table-th);
}

::v-deep .ivu-table th::after {
  content: '';
  position: absolute;
  top: 0; /* 从顶部开始 */
  right: 0; /* 右侧对齐 */
  bottom: 0; /* 到达底部 */
  width: 2px; /* 边框宽度 */
  //background: linear-gradient(to bottom, black, #5a5a5a, black); /* 从黑到白的渐变 */
  background: var(--table-th-border); /* 从黑到白的渐变 */
}

::v-deep .ivu-table td {
  border-color: transparent;
  border-bottom: 1px solid var(--border);
}

::v-deep .ivu-table-border:after, ::v-deep .ivu-table-border:before {
  border: 1px solid var(--border);
  zoom: 0.5;
}

::v-deep .ivu-table-wrapper-with-border {
  border-top: 1px solid var(--border);
  border-left: 1px solid var(--border);
}

.mr {
  &-3 {
    margin-right: 3px;
  }

  &-5 {
    margin-right: 5px;
  }

  &-10 {
    margin-right: 10px;
  }

  &-15 {
    margin-right: 15px;
  }
}

.ml {
  &-3 {
    margin-left: 3px;
  }

  &-5 {
    margin-left: 5px;
  }

  &-10 {
    margin-left: 10px;
  }

  &-15 {
    margin-left: 15px;
  }
}

.pr {
  &-3 {
    padding-right: 3px;
  }

  &-5 {
    padding-right: 5px;
  }

  &-10 {
    padding-right: 10px;
  }

  &-15 {
    padding-right: 15px;
  }
}

.pl {
  &-3 {
    padding-left: 3px;
  }

  &-5 {
    padding-left: 5px;
  }

  &-10 {
    padding-left: 10px;
  }

  &-15 {
    padding-left: 15px;
  }
}